@import '../../../styles/variables.scss';

.custom-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
}

.lang-theme {
    width: 100%;
}

.light {
    background-color: $bg-color-light;
}

.dark {
    background-color: $bg-color-darker;
}

.light .btn-primary {
    background-color: $border-color-light;
    border-color: $border-color-light;
    color: $text-color-dark;
    height: fit-content;

    &:hover {
        background-color: $button-hover-color-light;
        border-color: $button-hover-color-light;
        color: $border-color-light;
    }
}

.dark .btn-primary {
    background-color: $border-color-dark;
    border-color: $border-color-dark;
    color: $text-color-dark;
    height: fit-content;

    &:hover {
        background-color: $button-hover-color-dark;
        border-color: $button-hover-color-dark;
        color: $text-color-dark;
    }
}